@import "../../global";

.main {
    width: 80%;
    margin: auto;
    padding: 1.1rem 2.2rem;
    display: flex;
    @media screen and (max-width:1025px){
        width:95%;
        flex-direction: column;
    };
    @media screen and (max-width:768px){
        width:90%;
        padding: 15px 5px;
        margin: auto;
    }

    .left-main {
        flex: 1;
        color: $fontColor;
    }
    .right-main {
        flex: 1;
        @media screen and (max-width:1025px){
            display: none;
        }

        .info {
            margin-left: 40px;
            max-width: 400px;
            border: 1px solid $borderColor;
            border-radius: 8px;

            .info-title {
                @include flex;
                justify-content: space-between;
                padding: 7px 15px;
                border-bottom: 1px solid $borderColor;

                .info-title-name {
                    font-weight: 500;
                    font-size: 28px;
                }

                .info-title-company {
                    font-size: 13px;
                    color: $fontColor;
                }
            }

            .info-site {
                padding: 8px 13px;
                @include flex;
                border-bottom: 1px solid $borderColor;
                gap: 25px;

                .earth-svg {
                    color: $fontColor;
                }

                .google {
                    color: $blueColor;
                    text-decoration: none;
                    font-size: 14px;
                    @include underLine;
                }
            }

            .info-desc {
                .info-desc-sm {
                    padding: 10px 15px;
                    display: flex;
                    flex-direction: column;
                    gap:5px;
                    color: $fontColor;
                    position: relative;
                    margin-bottom: 20px;

                    .all-info {
                        font-size: 15px;

                        .details {
                            color: $blueColor;
                            text-decoration: none;
                            @include underLine;
                        }
                    }

                    .disclaimer {
                        position: absolute;
                        right: 10px;
                        bottom: -20px;
                        font-size: 12px;
                        color: $fontColor;

                        .disclaimer-name{
                            text-decoration: none;
                            color: $fontColor;
                        }
                    }
                }

                .sites {
                    padding: 10px 15px;

                    .site-profiles {
                        font-size: 20px;
                        font-weight: 400;
                    }

                    .sites-info {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        .site-info-div{
                            @include flex-center;
                            flex-direction: column;

                            .site-svg {
                                font-size: 40px;
                           }
    
                           .down-site-svg {
                            font-size: 55px;
                           }
    
                           .site-names {
                            font-size: 14px;
                            color: $blueColor;
                            text-decoration: none;
                           }
                        }
                    }
                }

                #site {
                    position: relative;

                    .view-more {
                        @include flex;
                        justify-content: space-between;
                        color: $fontColor;
                        font-size: 14px;

                        .site-searches{
                            font-size: 20px;
                            font-weight: 400;
                        }

                        .view-more-sites{
                            text-decoration: none;
                            color: $fontColor;
                        }
                    }

                    .feedback {
                        position: absolute;
                        right: 10px;
                        bottom: -25px;
                        font-size: 12px;
                        color: $fontColor;
                    }
                }
            }
        }
    }
}
