@import "../../../../global";

.search {
  @include flex;
  background-color: #f1f3f4;
  border-radius: 30px;
  gap: 15px;
  padding: 10px 25px;
  max-width: 90%;
  @media screen and (max-width: 760px) {
    padding: 8px 16px;
    max-width: unset;
  }

  .search-icon {
    font-size: 20px;
  }

  .search-link {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    @media screen and (max-width: 760px) {
      font-size: 12px;
    }
  }
}
