@import "../../globe";

.navbar {
  width: 100%;
  padding: 1rem 3rem;
  color: $fontColor;
  border-bottom: 1px solid $borderColor;

  .upper-Navbar {
    @include flex;
    justify-content: space-between;

    .left-upper-nav {
      @include flex;
      gap: 30px;

      .logo {
        width: 100px;
      }

      .search-input {
        @include flex;
        gap: 10px;
        width: 43rem;
        border-radius: 40px;
        padding: 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        input {
          flex: 1;
          border: none;
          outline: none;
        }

        & > img {
          width: 31px;
        }
      }
    }

    .right-upper-nav {
      @include flex;
      gap: 20px;

      .apps {
        font-size: 20px;
      }

      .profile {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: purple;
        color: white;
        @include flex-center;
      }
    }
  }

  .lower-Navbar {
    @include flex;
    gap: 4rem;
    max-width: 74%;
    justify-content: space-between;
    .flex{
      @include flex;
      margin-top: 8px;
      margin-left: 130px;
      gap: 7px;
  
      .navList {
        border: 1px solid rgb(212, 212, 212);
        min-width: 38px;
        border-radius: 22px;
        padding: 5px 10px;
        color: rgb(62, 62, 62);
        font-size: 14px;
      }
    }

    div{
      p{
        margin-top: 17px;
        font-size: 14px;

        .line{
          transform: rotate(90deg);
          margin-bottom: -2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    .upper-Navbar {
      .left-upper-nav {
        .search-input {
          width: 35rem;
        }
      }
    }

    .lower-Navbar{
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    .upper-Navbar {
      .left-upper-nav {
        .search-input {
          width: 30rem;
        }
      }
    }

    .lower-Navbar {
      justify-content: unset;
      overflow-x: scroll;

      .flex{
        margin-left: 0px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .lower-Navbar{
        div.tools{
          display: none;
        }
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .upper-Navbar {
      .right-upper-nav {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .navbar {
    .upper-Navbar {
      .left-upper-nav {
        gap: 20px;
        .logo {
          width: 80px;
        }

        .search-input {
          padding: 9px 18px;
        }
      }
    }

    .lower-Navbar {
      overflow: scroll;
      margin-left: 5px;
      margin-top: 15px;

      .navList {
        font-size: 12px;
        padding: 4px 15px;
      }
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 13px 20px;
    .upper-Navbar {
      display: block;
      margin-bottom: 5px;
      .left-upper-nav {
        flex-direction: column;
        gap: 5px;
        .logo {
          width: 70px;
        }

        .search-input {
          width: 90%;
          padding: 9px 18px;

          & > img {
            width: 20px;
          }
        }
      }
    }

    .lower-Navbar {
        display: none;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
