@import "../../../global";

.result {
  margin-bottom: 20px;
  @media screen and (max-width: 650px){
    margin-bottom: 18px;
  };

  .result-title {
    @include flex-x-center;

    .img-div {
      @include flex-center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: rgb(240, 240, 240);
      margin-right: 13px;

      .site-img {
        width: 25px;
      }
    }

    .site-name {
      font-size: 12px;

      .site-link{
        text-decoration: none;
        color: $PrimaryFontColor;
      }

      .site-link-three-dot {
        margin-left: 7px;
      }
    }
  }

  .result-desc {
    .result-desc-title {
      text-decoration: none;
      @include underLine;
      margin-top: 9px;
      color: $purpleColor;
      font-weight: 500;
      font-size: 20px;
      @media screen and (max-width: 650px){
        font-size: 19px;
      }
    }

    .row {
    @include flex;
     margin-top: 12px;
     gap: 18px;
     overflow-x: auto;
     flex-wrap: nowrap;
    }

    .result-desc-desc {
      font-size: 14px;
      font-weight: 300;
      @media screen and (max-width: 650px){
        font-size: 12px;
      }
    }

    .links {
      font-size: 14px;
      font-weight: 500;
      color: $purpleColor;
    }
  }

  .more-results {
    @include flex-x-center;
    margin-top: 5px;
    margin-left: 25px;
    gap: 15px;
    @media screen and (max-width: 650px){
      margin-left: 0px;
    };

    .more-result-title {
      @include underLine;
      text-decoration: none;
      margin-top: 9px;
      color: $purpleColor;
      font-weight: 500;
      font-size: 20px;
      @media screen and (max-width: 650px){
        font-size: 19px;
      }
    }

    .more-result-desc{
      font-size: 14px;
      font-weight: 300;
      @media screen and (max-width: 650px){
        font-size: 12px;
      }
    }

      .timer {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include flex-center;
        border: 1px solid $whiteGrayColor;
        @media screen and (max-width: 650px){
          display: none;
        }
      }

      .more {
        font-size: 14px;
        color: $purpleColor;
        margin-bottom: 10px;
        text-decoration: none;
        @include underLine;
      }
  }
}

.related-search {
  margin-bottom: 20px;
  .search-title {
    @include flex-x-center;

    .related-search-heading {
      font-size: 22px;
      font-weight: 400;
      color: #000;
    }

    .three-dot {
      margin-left: 14px;
      font-size: 14px;
    }
  }
  .searches-grid {
    width: 90%;
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 12px;
      column-gap: 25px;
      margin-top: 12px;
      @media screen and (max-width:1300px){
        width: 100%;
      }
      @media screen and (max-width: 650px){
        row-gap: 9px;
        column-gap: 10px;
      }
  }
}